<div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
    </svg>
  </div>

  <%= form_with url: filter_people_path, method: :get do |form| %>
  <%= form.text_field :query, id: 'search', class:'block w-full py-2 pl-10 pr-3 leading-5 text-indigo-100 placeholder-gray-400 border border-transparent rounded-md bg-gray-50 dark:bg-darkColor focus:outline-none focus:bg-white dark:focus:bg-darkColor dark:focus:text-gray-300 focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm'%>

  <% end %>

  <script type="text/javascript">

    document.getElementById('search').placeholder = "Search for people...";
    document.getElementById("search").onclick = function() {removeInput()};

    function removeInput(){
     document.getElementById('search').placeholder = "";
    }
  </script>
