<section aria-labelledby="post-feedback">
    <turbo-frame id="comments">
        <div class="bg-white border sm:rounded-lg sm:overflow-hidden">
            <div class="divide-y divide-gray-200">
                <div class="px-4 py-5 sm:px-6">
                    <h2 id="post-feedback" class="text-lg font-medium text-gray-900">Feedback</h2>
                </div>
                <% if @post.highlights.count != 0 %>
                    <div class="px-4 py-6 bg-yellow-50 sm:px-6">
                        <ul role="list" class="space-y-8">
                        <% @post.highlights.each do |highlight| %>
                            <%= render partial: "posts/components/highlight_comment", locals: { highlight: highlight }%>
                        <% end %>
                        </ul>
                    </div>
                <% end %>
                <% if @post.comments.count != 0 %>
                    <div class="px-4 py-6 sm:px-6">
                        <ul role="list" class="space-y-8">
                            <% @post.comments.each do |comment| %>
                                <%= render partial: "posts/components/comment", locals: { comment: comment } %>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            </div>
            <div class="px-4 py-6 bg-gray-50 sm:px-6">
                <%= render partial: "posts/components/add_comment" %>
            </div>
        </div>
        <%# TODO: - Move this somewhere else. %>
        <% if success == 'Feedback delivered. Your rock 🤘!' %>
            <script>
            modes.fireworks();
            </script>
        <% end %>
    </turbo-frame>
</section>
