<%= turbo_frame_tag dom_id(@tag, :new_tag_form) do %>
  <%= form_with model: @tag, url: create_tag_url, data: { turbo_frame: "_top" } do |f| %>
    <div class="sm:flex sm:items-start">
      <div class="w-full mt-3 text-center sm:ml-4 sm:text-left">
        <h3 class="text-lg font-bold leading-6 text-gray-900" id="modal-title">
          Create new Community
        </h3>
        <div class="mt-4">
          <label for="comment" class="sr-only">Name</label>
          <%= f.text_field :name, placeholder: 'Naam', class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm' %>
        </div>
        <div class="mt-2">
          <label for="comment" class="sr-only">Description</label>
          <%= f.text_area :description, placeholder: 'Description', class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm' %>
        </div>
      </div>
    </div>
    <div class="mt-5 sm:mt-6 sm:pl-4 sm:flex">
      <button type="submit" class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-gray-600 border border-transparent rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:w-auto sm:text-sm">
        Add Tag
      </button>
      <button  data-action="modal#close" type="button" class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Cancel
      </button>
    </div>
  <% end %>
<% end %>
