<% content_for :tag_selector do %>
  <div class="px-8 py-4 mx-auto bg-gray-100 md:flex md:items-center md:justify-between">
    <div class="flex items-center my-2">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          Community pages
        </h1>
      </div>
      <%= link_to new_tag_path, data: { turbo_frame: "modal"} do %>
        Button
      <% end %>
    </div>
  </div>
<% end %>
<section id="tags">
  <div class="grid grid-cols-1 gap-5 mb-4 md:grid-cols-3 lg:grid-cols-4">
    <% @tags.each do |tag| %>
      <%= render partial: 'tag/components/tag_card', locals: { tag: tag} %>
    <% end %>
  </div>
</section>
