<% content_for :tag_selector do %>
  <div class="py-4 px-8 bg-gray-100 mx-auto md:flex md:items-center md:justify-between">
    <div class="flex items-center">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          Community pages
        </h1>
      </div>
    </div>
  </div>
<% end %>
<section id="tags">
  <div class="grid grid-cols-1 gap-5 md:grid-cols-3 lg:grid-cols-4">
    <% @tags.each do |tag| %>
      <li class="col-span-1 flex shadow-sm rounded-md">
        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-gray-900 text-white text-sm font-medium rounded-l-md">
          WD
        </div>
        <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
          <div class="flex-1 px-4 py-2 text-sm truncate">
            <a href="#" class="text-gray-900 font-medium hover:text-gray-600"><%= tag.name %></a>
            <p class="text-gray-500"><%= tag.users.count %> Community members</p>
          </div>
          <div class="flex-shrink-0 pr-2">
            <button type="button" class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="sr-only">Open options</span>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </button>
          </div>
        </div>
      </li>
    <% end %>
  </div>
</section>