<% content_for :tag_selector do %>
  <%= render partial: 'tag/components/header', locals: { tag: @tag } %>
<% end  %>

<section id="posts">
  <%= render partial: 'tag/components/section_header', locals: { tag: @tag, title: 'Members' } %>

  <div class="grid grid-cols-1 gap-5 md:grid-cols-3 lg:grid-cols-4 mt-7">
    <% @users.each do |user| %>
      <%= render partial: 'profile/partials/user_card', locals: { user: user } %>
    <% end %>
  </div>
</section>