<div class="grid justify-items-center ">
    <%= image_tag("/not_found.gif", class: 'inline w-50 h-50 mr-2 rounded-md contain') %>
    <div class="m-4 space-y-2 text-center">
        <h3 class="text-2xl"><span class="font-bold">404</span> - Panic time!</h3>
        <p>We can't find the page you're looking for, sorry!</p>
    </div>
    <a class="inline-flex justify-center px-4 py-3 text-sm font-medium text-white bg-gray-900 border-none rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" href="<%= posts_path %>">
        Go home
    </a>
</div>
