
    <div class="relative inline-block px-4 text-left" x-data="{open: false}">
      <button @click="open = !open" @mouseover="open = true" @mouseover.away="open = false" type="button" class="inline-flex justify-center text-sm font-medium text-gray-700 group hover:text-gray-900" aria-expanded="false">
        <svg class="flex-shrink-0 w-5 h-5 ml-1 -mr-1 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
      </button>
      <div
        x-show="open"
        x-transition
        x-on:click.away="open = false"
      >
        <div class="absolute right-0 w-48 p-4 mt-2 origin-top-right bg-white rounded-md shadow-2xl">
          <ul>
            <% @post.likes.each do |like| %>
              <li>
                <%= like.user.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>
