<h1>Listing all posts
<% if params[:tag] %>
        <%= params[:tag] %>
<% end %>
</h1>


<% if @posts %>
    <ul>
    <% @posts.each do |post| %>
    <div>
        <%= post.title %>
        <% if post.skill_list.present? %>
        <% post.skill_list.each do |tag| %>
            <b><%= tag %></b>
        <% end %>
        <% end %>
    </div>
    <% end %>
    </ul>
<% end %>
