<h1>Listing all posts
<% if params[:tag] %>
        <%= params[:tag] %>
<% end %>
</h1>


<% if @posts %>
  <% @posts.each do |post| %>
    <%= post.title %>
    <% if post.skill_list.present? %>
    <% post.skill_list.each do |tag| %>
        <b><%= tag %></b>
    <% end %>
    <% end %>

  <% end %>
<% end %>

<% props = { tags: {item: {name: "Hello"}} }.to_json %>
<div class="vue-tag-selector" data-props="<%= props %>"></div>
