<h1><%= @post.title %></h1>


<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= link_to gallery_view_path do %>
      <%= image_tag image.variant(resize_to_limit: [800, 400]).processed %>
    <% end %>
  <% end %>
<% end %>

<% if @post.skill_list.present? %>
  <% @post.skill_list.each do |tag| %>
    <%= tag %>
  <% end %>
<% end %>

