<div class="overflow-hidden bg-white rounded-lg shadow">
  <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
    <%= render partial: "shared/profile_navigation" %>
    <div class="divide-y divide-gray-200 lg:col-span-9">
      <div class="px-4 py-6 sm:p-6 lg:pb-8">
        <div>
          <h2 class="text-lg font-medium leading-6 text-gray-900">Your posts</h2>
          <p class="mt-1 text-sm text-gray-500">
            Flexing your creative flow ammirite 🚀.
          </p>
        </div>
        <dd class="mt-4 text-sm text-gray-900 sm:mt-5 sm:col-span-2">
          <ul role="list" class="border border-gray-200 divide-y divide-gray-200 rounded-md">
            <% @posts.each do |post| %>
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex items-center flex-1 w-0">
                  <span class="flex-1 w-0 truncate">
                    <%= post.title %>
                  </span>
                </div>
                <div class="flex-shrink-0 ml-4">
                  <%= link_to "Show", post_path(post.slug), class: 'font-medium text-gray-600 hover:text-gray-500', data: { turbo: false } %>
                </div>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
    </div>
  </div>
</div>
